.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .chooseLock {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    span, p {
      font-size: 2rem;
    }

    button {
      border-radius:16px;
      cursor:pointer;
      font-family:Courier New;
      font-size:20px;
      text-decoration:none;
      outline: none;
      background-color:#000;
      color:#ffffff;
      padding:20px 20px;
    }
  }

  h1 {
    font-size: 5.5rem;
  }

  .theLock  {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .Lock {
      height: 30vh;
    }

    .numbers {
      display: flex;
      justify-content: center;

      .number {
        display: flex;
        flex-direction: column;
        align-items: center;

        .changeButtons,
        .codes {
        	border-radius:16px;
        	display:inline-block;
        	cursor:pointer;
          font-family:Courier New;
        	font-size:20px;
          text-decoration:none;
          outline: none;
        }

        .changeButtons {
        	background-color:#000;
        	color:#ffffff;
        	padding:20px 11px;

          &:active {
          	top:1px;
          }
        }
        .codes {
        	background-color:#ffffff;
        	border:2px solid #000000;
        	color:#000000;
        	padding:15px 19px;

          &:active {
          	top:1px;
          }
        }
      }
    }
  }
}


.App .check,
.App .toTheTop {
  max-width: 150px;
  background-color:#000;
  border-radius:16px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Courier New;
  font-size:20px;
  padding:20px 11px;
  text-decoration:none;
  outline: none;

  &:not(.toTheTop):active {
    top:1px;
  }
}

.App .toTheTop {
  position: absolute;
  right: 5vw;
  bottom: -950px;
  padding:11px 11px;

  img {
    height: 40px;
  }
}
